<div class="form_comment">
<p>Add your comment </p>
<%= form_tag("/post/#{@post.id}/comment", :method => "post") do %>
<%= label(:comment,:name, "name :") %>
<%= text_field(:comment, :name) %>
<%= label(:comment,:content, "content :") %>
<%= text_area(:comment, :content) %>
<%= submit_tag("Add the comment") %>
<% end %>
</div>
