<div class="form">
<p>Add your comment </p>
<%= form_tag("/posts/#{@post.id}/comments", :method => "post",:remote => true) do %>
<%= label(:comment,:name, "name :") %>
<%= text_field(:comment, :name, :size => 55,:class => "form-field") %>
<br /><br />
<%= label(:comment,:content, "content :", :id => "labelarea") %>
<%= text_area(:comment, :content, :size => "55x10", :class => "form-field") %>
<br />
<p class="end"></p>
<%= submit_tag("Add the comment", :class => "form-submit") %>
<% end %>
</div>
