<div class="form">
 <% if flash[:error] %>
    <div class="flash-error">
      <%= flash[:error] %>
    </div>
  <% end %>
<p>Add your comment </p>
<%= form_tag("/posts/#{@post.id}/comments", :method => "post",:remote => true) do %>
<%= label(:comment,:name, "name :") %>
<% if current_user %>
<%= text_field(:comment, :name, :size => 55,:class => "form-field",:value => current_user) %>
<% else %>
<%= text_field(:comment, :name, :size => 55,:class => "form-field") %>
<% end %>
<br /><br />
<%= label(:comment,:content, "content :", :id => "labelarea") %>
<%= text_area(:comment, :content, :size => "55x10", :class => "form-field") %>
<br />
<p class="end"></p>
<%= submit_tag("Add the comment", :class => "form-submit") %>
<% end %>
</div>
