<h1>Edit the post</h1>
<%= form_tag("/posts/#{@post.id}", :method => "put") do %>
<%= label(:post,:title, "title :") %>
<%= text_field(:post, :title) %>
<%= label(:post,:body, "content :") %>
<%= text_area(:post, :body) %>
<%= submit_tag("Update the Post") %>
<% end %>
