<div class="list-posts">
  <% if flash[:msg] %>
    <div class="flash-msg">
      <%= flash[:msg] %>
    </div>
  <% end %>
  <% if flash[:search] %>
    <div class="search-msg">
      <p>
        <%= flash[:search] %>
     </p>
    </div>
  <% end %>
  <ul>
  <% @posts.each do |post| %> 
  <li class="post">
    <div class="post-title">
      <h1 class="post-title"><%= post.title %></h1><span class="adminlink"><%= link_to 'Edit',edit_post_path(post.id),:remote => true%>  |  <%= link_to 'Delete',delete_post_path(post.id), method: :delete,:remote => true %> </span>
    
      <p class="post-date"><%= post.created_at %></p>
    </div>
    <div class="post-img-comment"><%= link_to post.comments.count(), show_post_path(post.id)+"#comments" %></div>
    <p class="end"></p>
    <p class="post-body">
      <%= post.body[0..300]+" ..." %>
    </p>
     <div class="post-read"><%= link_to 'Show',show_post_path(post.id)%></div>
     <p class="end"></p>
  </li>
  <% end %>
  </ul>
  <p class="newpostlink"><%= link_to 'New Post', new_post_path,:remote => true %></p>
</div>

