<h1>Create a new post</h1>
<%= form_tag("/posts", :method => "post") do %>
<%= label(:post,:title, "title :") %>
<%= text_field(:post, :title) %>
<%= label(:post,:body, "content :") %>
<%= text_area(:post, :body) %>
<%= submit_tag("New Post") %>
<% end %>

