<!DOCTYPE html>
<html>
  <head>
    <title>Blog de lokhi</title>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
  </head>
  <body id="top">
   <div class="header">
    <div class="header-box">
      <div class="logo">
        <%= link_to image_tag("logo.png", :alt => "Lokhi Labs"), posts_path, :title => "homepage" %>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-left">
      <%= yield %>
    </div>
    <div class="content-right">
    <%= render 'posts/search_posts' %>
    
    <div class="pres">
      <div class="pres-avatar">
         <%= image_tag "pirate.png" , :alt => "Pirate" %>
      </div>
      <div class="pres-content">
        <p>Bienvenue sur mon blog !</p>
        <br />
        <p>Je suis Lokhi une jeu apprenti ingénieur en informatique et réseaux. Je vis entre la Côte d'Azur et Toulouse, je parle dans ce blog de divers sujets, informatique, sécurité, musique, mode, bref tout ce qui me passione :)</p>
      </div>
      <p class="end"></p>
    </div>
    <%= render 'session/session' %>
    <%= render 'posts/last_posts' %>
    <%= render 'comments/last_comments' %>
    <%= link_to image_tag("rss.png", :alt => "rss"), posts_path(:rss), :title => "RSS"  %>


    </div>
  </div>
  <p class="end"></p>
  <div class="footer">
    <div class="footer-box">
      <div class="footerTotop">
         <%= link_to image_tag("top.png", :alt => "Go the top"),"#top", :title => "Top"  %>
      </div>
      <div class="footercontent">
        Bah ici je vais mettre du texte mais comme je sais pas encore quoi mettre et bah je vais laisse ça comme ceci et nous verrons bien :)<br /><br />
        <%= link_to image_tag("logo.png", :alt => "Lokhi Labs"), posts_path, :title => "homepage" %>
      </div>
      <div class="footer-bulle">
      <div class="bullecontent">
        <%= render 'contact/contact' %>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
